.search-bar{
    display: flex;
    align-items: center;
    margin: 25px;
    .search-input{
        width: 260px;
        margin: 0 10px;
    }
    .sort-input{
        width: 160px;
        margin: 0 10px;
    }
    .search-button{
        padding: 12px;
        width: 120px;
        margin: 0 10px;
    }
}